WASMREDIS_FLUSH_INTERVAL=1s
WASMREDIS_SNAPSHOT_INTERVAL=2m
WASMREDIS_DEFAULT_TTL=0s
WASMREDIS_EXPIRY_SCAN_INTERVAL=10s
WASMREDIS_BTREE_ORDER=32
WASMREDIS_AOF_PATH=data/aof.log
WASMREDIS_SNAPSHOT_PATH=data/snapshot.json
